h1 ,  h3 , h5 , label{
    color: black;
}
.continueBtn{
     width: 394.84px;
  height: 63.46px;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 24px;
  cursor: pointer;
  background: #415eb6;
  border-radius: 20px;
}

.hero {
    text-align: left;
}

